@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  /* background: #e0e0e0; */
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Scrollbar */
/* For Webkit based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #a5a4a4; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}

/* On hover, style the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
